@model IEnumerable<Project.Models.ProductViewModel>

@{
	ViewBag.Title = "LIST OF PRODUCTS";
}
<h2>LIST OF PRODUCTS</h2>

<body>
	<!--<img src=" computer-s-screens-and-purchases_23-2147664963.jpg" alt="Image" height="720" width="1020"/>
	<link rel="stylesheet" href="~/CSS/csi.css" />-->
	<img src="../Images/auction-online.jpg" height=850 ; width =1140 />
	
	

	<select class="form-control" id="Product Category" name="Product Category">
		<option>Select Category</option>
		<option>Clothes</option>
		<option>Shoes</option>
		<option>Houses</option>
		<option>Grocery</option>
	</select>
	<div class="top-right">
		<select class="form-control" id="Sort By Price" name="Sort By Price">
			<option>Sort By Price</option>
			<option>Clothes</option>
			<option>Shoes</option>
			<option>Houses</option>
			<option>Grocery</option>
		</select>
	</div>
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Product_Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Minimum_Bid_Amount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Auction_Time)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Select_Category)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Product_Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Minimum_Bid_Amount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Auction_Time)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Select_Category)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
				</td>
			</tr>
		}

	</table>
</body>